.price {
  padding: 65px 0 120px 0;
  &__wrapper {
    margin-top: 60px;
    padding: 0 50px;
    display: grid;
    grid-template: repeat(3, 45px) / repeat(2, 365px);
    grid-auto-rows: 45px;
    row-gap: 15px;
    justify-content: space-between;
  }
  &__item {
    &-top {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        position: absolute;
        left: -25px;
        background: $main-color;
      }
    }
    &-descr {
      margin-top: 5px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}